:root {

  --yellow-main: rgb(235, 202, 20);

  --text-color: rgb(173, 164, 164);
}

.album-details-page {
  display: flex;
  flex-flow: column;
  margin-top: 20px;
  text-align: center;
}

.artist-name {
  color: var(--yellow-main);
  font-size: 23px;
  padding: 10px 0;
}

.album-name {
  color: rgb(211, 181, 13);
  font-size: 27px;
  margin-bottom: 10px;
}

.album-cover {
  height: 150px;
  margin: auto;
  width: 150px;
}
