:root {

  --yellow-main: rgb(235, 202, 20);
}

.header-container {
  display: flex;
}

.header-component {
  margin: auto;
  width: 300px;
}

.header-user-name {
  color: rgb(173, 164, 164);
  font-size: 20px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
}

.header-link {
  color: var(--yellow-main);
  font-size: 20px;
}

.header-link:link {
  opacity: 80%;
  text-decoration: none;
}

.header-link:visited { text-decoration: none;}

.header-link:hover { opacity: 100%;}
